html, body {
  height: 100%;
}

body {
  display: grid;
  font-family: Avenir, sans-serif;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.cta {
  position: relative;
  /* margin: auto; */
  margin-top: 1%;
  padding: 19px 22px;
  transition: all 0.2s ease;
  /* margin-left: 1%; */

}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background:#f5bd98;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  color:#333;
  font-size: 16px;
  font-family: Quicksand;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background:#f5bd98;

}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

.form__group {
  margin-top: 10%;
  margin-right: 2%;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 15%;
}

.form__field {
  font-family: Quicksand;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #555;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fa9a63, #fcbf81);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fa9a63;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}


.fade-in {
  opacity: 1;
}

.resultsbox{
  display: flex; 
  -webkit-flex-flow: row wrap; 
  justify-content: space-evenly;
  flex-flow: row wrap;
  flex-grow: 1;
  height:100%;
  padding-bottom: 2%;
}

